{% extends 'base.html.twig' %}

{% block title %}New Borrowing{% endblock %}

{% block body %}
    <h1>Create new Borrowing</h1>

    {{ include('borrowing/_form.html.twig') }}

    <a href="{{ path('app_borrowing_index') }}">back to list</a>
{% endblock %}
