{% extends 'base.html.twig' %}

{% block title %}Most popular books{% endblock %}

{% block body %}
<table>
<tr> 
<th>Title<th>
<th>Borrowed<th>
</tr>
{% for book in books %}
<tr><td>{{ book['title'] }}</td><td>{{ book['howMany'] }}</td></tr>
{% endfor %}
 </table>
{% endblock %}
